{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; 
}

html{
    scroll-behavior: smooth;
}

body{
    background-image: url(images/webbackgrnd1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-bottom: 50px;
    aspect-ratio: 4/3;
}

#header{
    background-image: url(images/woman-8446935_1280.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: right;
    width: 100vw;
    height: 100vh;
}
.header-text span{
    color: #a14ac3;
}

.mini-titles{
    font-size: 24.3px;
    font-weight: 100;
    color: white;
}

ul li span{
    color: #8030a0;
    font-size: 25px;
}
/*navigation*/
.navitem{
    float: left;
}
nav ul{
    color: black;
}
nav ul li{
    display: inline-block;
    line-height: 10px;
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: floralwhite;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #9c40c0;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover{
    border-radius: 3px;
    background-color: #c18ad6;
    font-weight: bold;
    color: black;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    font-size: 30px;
}
.header-text h1{
    text-align: center;
    font-size: 60px;
    padding-top: 15%;
    padding-right: 25%;
}

/*abt me*/
#about{ 
    padding: 0px; 
    color:aliceblue;
    font-size: 25px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*
.about-col-1{
    flex-basis: 35%;
}
.about-col-1{
    width:100%;
    border-radius:15px;
}
.about-col-2{
    flex-basis: 60%;
}*/
.sub-title{ /*abt title*/
    font-size: 60px;
    font-weight: 600;
    color: #8030a0;
}
.tb-title{
    display: flex;
    margin: 20px 0 40px;
}
.tb-lnks{
    margin-right: 50px;
    font-size: 25.5px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tb-lnks::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(179, 29, 216);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tb-lnks.active-lnk::after{
    width: 50%;
}
.tb-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tb-contents{
    display: none;
}
.tb-contents.active-tb{
    display: block;
}

/*CONTACT*/
#contact{
    padding-top: 45px;
}
.row{
    text-align: center;
    margin: 0 0% 0 40%;
}
.contact-left{
    flex-basis: 35%;
}
.contact-left p{
    margin-top: 30px;
}
.social-icons p i{
    color:#8030a0;
    margin-right: 15px;
    font-size: 25px; 
    transition: transform 0.5s;
}
.social-icons p i:hover{
    color: lavender;
    transform: translateY(-5px);
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:#8030a0;
    display: inline-block;
    background-color: transparent;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: lavender;
    transform: translateY(-5px);
}

#projects {
    padding-top: 25px;
    background-color: transparent; /* Adjust as needed */
    color: aliceblue;
}

#projects .container {
    text-align: left;
}

#projects .intern {
    padding: 40px 0;
    max-width: 1200px;
    margin: 0 auto;
}

#projects .sub-title1 {
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    color: #8030a0;
}

#projects .work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

#projects .work {
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    position: relative;
    width: 310px;
    height: 210px; /* Adjust height as needed */
    background-color: transparent; /* Background color for each project box */
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects .layer {
    text-align: center;
    padding: 20px;
}

#projects .layer h3 {
    font-size: 26px;
    color: #ffffff;
    margin-bottom: 10px;
}

#projects .layer p {
    font-size: 19px;
    color: #ffffff;
    margin-bottom: 20px;
}

#projects .btn {
    font-size: 18px;
    color: #ffffff;
    background-color: #8030a0;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#projects .btn:hover {
    color: #000000;
    font-weight: bolder;
    background-color: #fafafa;
}
